################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Zadacha__№10/.vs
/Zadacha__№10/Zadacha__№10/bin/Debug/net6.0
/Zadacha__№10/Zadacha__№10/obj
